<div class="row">
  <div class="col-12">
    <h3 *ngIf="mode == 'add'">Add a user</h3>
    <h3 *ngIf="mode == 'edit'">Edit user</h3>
  </div>
</div>
<form [formGroup]="userForm"
(ngSubmit)="onUserFormSubmit()">

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="input-Firstname">First Name</label>
        <input type="text" 
        class="form-control" 
        id="input-Firstname" 
        formControlName="firstName"
        required>        
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="input-lastName">Last Name</label>
        <input type="text" 
        class="form-control" 
        id="input-lastName" 
        formControlName="lastName"
        required>        
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="input-emailAddress">Email Address</label>
        <input type="email" 
        class="form-control" 
        id="input-emailAddress" 
        formControlName="emailAddress"
        required>        
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="input-contactNumber">Contact Number</label>
        <input type="text" 
        class="form-control" 
        id="input-contactNumber" 
        formControlName="contactNumber"
        required>        
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="input-jobTitle">Job title</label>
        <input type="text" 
        class="form-control" 
        id="input-jobTitle" 
        formControlName="jobTitle"
        required>        
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="input-managerEmail">Reporting to</label>
        <input type="text" 
        class="form-control" 
        id="input-managerEmail" 
        formControlName="managerEmail"
        required>        
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="input-startDate">Start date</label>
        <input type="text" 
        class="form-control" 
        id="input-startDate"
        ngbDatepicker #d="ngbDatepicker" 
        [ngModelOptions]="{standalone: true}" 
        [(ngModel)]="datePickerDate" 
        (click)="d.toggle()"/>              
      </div>
    </div>    

    <div class="col-12 col-md-3 offset-md-6">      
      <div class="btn btn-warning btn-block" (click)="cancel()">Cancel</div>
    </div>
    <div class="col-12 col-md-3">      
      <button class="btn btn-primary btn-block" 
      type="submit" 
      *ngIf="mode == 'add'"
      [disabled]="!userForm.valid">
        Add
      </button>

      <button class="btn btn-primary btn-block" 
      type="submit" 
      *ngIf="mode == 'edit'"
      [disabled]="!userForm.valid">
        Save
      </button>      
    </div>
  </div>
</form>